<form action="/" method="POST">
	<input type="hidden" id="month" name="month" value="[[MONTH_NUM]]" />
	<input type="hidden" id="year" name="year" value="[[YEAR]]" />
	<span>
		<button id="prev-month">
			<img src="../assets/imgs/arrow.svg" />
		</button>

		<label data-month="[[MONTH_ABB]]">[[MONTH]],<i>[[YEAR]]</i></label>

		<button id="next-month">
			<img src="../assets/imgs/arrow.svg" />
		</button>
	</span>

	<div>[[DAYS]]</div>

</form>

<div class="event">
	<span></span>

	<ul id="events">
	</ul>

	<button>ADD EVENT</button>
</div>


