<form action="/" method="POST">
	<input type="hidden" id="month" name="month" value="[[MONTH_NUM]]" />
	<input type="hidden" id="year" name="year" value="[[YEAR]]" />
	<span>
		<button id="prev-month">
			<svg xmlns="http://www.w3.org/2000/svg" width="7.52" height="13.532" viewBox="0 0 7.52 13.532">
  			<path id="Rectangle_1" data-name="Rectangle 1" d="M307.2,255.989l-6.389-6.389,6.389-6.389" transform="translate(-300.057 -242.834)" fill="none" stroke="#fff" stroke-width="1.067"/>
			</svg>
		</button>
		<label>[[MONTH]],<i>[[YEAR]]</i></label>
		<button id="next-month">
			<svg xmlns="http://www.w3.org/2000/svg" width="7.52" height="13.532" viewBox="0 0 7.52 13.532">
  			<path id="Rectangle_1" data-name="Rectangle 1" d="M307.2,255.989l-6.389-6.389,6.389-6.389" transform="translate(-300.057 -242.834)" fill="none" stroke="#fff" stroke-width="1.067"/>
			</svg>
		</button>
	</span>

	<div>[[DAYS]]</div>

</form>
